<div class="flex justify-center items-center pt-14 text-800 ">
    <div class="col-12 max-w-2xl sm:col-6 py-32 p-6 text-center ">
      <section class="text-center">
        <h1 class="text-gray-600 text-5xl font-bold mb-1">Esteban Soto Henríquez</h1>
        <div class="flex justify-center items-center gap-2 mb-3">
          <h2 class="gradient text-4xl text-primary font-bold ">Desarrollador Web </h2>
          <span class="text-3xl">💻</span>
        </div>

        <p class="mt-0 mb-4 text-lg leading-8 text-gray-600 text-justify">Una de las cosas más significativas de la
          vida
          es encontrar la felicidad en lo que hacemos. En mi caso, descubrí que brindar soluciones a través del
          desarrollo web es una de esas cosas que realmente me llena de satisfacción.</p>

      </section>
    </div>
    <div class="divider-vertical mx-5 max-w-5xl" role="separator" aria-label="Divider"></div>
    <div class="hidden max-h-[415px] md:col-6 md:block">
      <img class="max-h-[415px] border rounded-2xl" src="../assets/4200_3_03.jpg" alt="">
    </div>
  </div>