
<main id="home" class="">

  <app-navbar></app-navbar>
  <div class="mx-auto max-w-7xl ">
    <!-- HERO -->
    <app-hero></app-hero>
    <!-- End HERO -->
    <!-- SKILLS -->
    <app-skills></app-skills>
    <!-- END SKILLS -->
    <app-divider></app-divider>
    <!-- TRAYECTORIA -->
    <app-trayectoria></app-trayectoria>

    <!-- END TRAYECTORIA -->
    <app-divider></app-divider>
    <!-- PROYECTOS -->
    <app-proyects></app-proyects>
    <!-- END PROYECTOS -->
  </div>
    <h1 class="text-3xl mt-10 font-bold text-center animate__animated animate__backInLeft" pTooltip="No es un error ;)"
        tooltipPosition="bottom">
        Hello world!
    </h1>
<p-scrollTop styleClass="custom-scrolltop"></p-scrollTop>
</main>


